@import url('./index.css');

body {
    color: var(--white);
    font-family: sans-serif;
}


.main {
    margin: 6%;
}

.wish {
    font-size: 20px;
    font-weight: bold;
}

.name2 {
    font-weight: bold;
    font-size: 45px;
}

.name1 {
    font-weight: bold;
    font-size: 45px;
    color: var(--primary-color)
}

.experience {
    font-weight: bold;
    font-size: 30px;
    color: var(--primary-color)
}

.desc {
    font-size: 20px;
    line-height: 35px;
}