
:root {
  --primary-color: rgb(210, 12, 74);
  --secondary-color: #3498db;
  --accent-color: #e74c3c;
  --text-color: #333;
  --bg-color: #000;
  --white: #FFF;
  --font-main: 'Poppins', sans-serif;
  --font-heading: 'Roboto', sans-serif;
}
