body {
  background-color: #000;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  padding: 15px 50px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  font-family: sans-serif;
  text-decoration: none;
  color: #FFF;
  transition: color 0.3s;
}

.nav-links a:hover:not(.btn) {
  color: rgb(210, 12, 74);
}

.btn {
  padding: 8px 16px;
  border-radius: 18px;
  text-decoration: none;
  font-family: sans-serif;
  color: #fff;
  background: rgb(210, 12, 74);
  transition: all 0.3s;
}

.btn:hover {
  background: rgb(242, 0, 77);
}

iframe {
  width: 100%;
  height: calc(100vh - 150px);
  border: none;
}