body {
  background-color: #000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  border-bottom: 2px solid white;
}

.brand h1 {
  font-size: 1.5rem;
  font-weight: bold;
}

.brand .blue {
  color: #fff;
}

.brand p {
  font-size: 0.9rem;
  color: #fff;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: #FFF;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: cyan;
}

.btn {
  border: 2px solid cyan;
  padding: 8px 16px;
  border-radius: 18px;
  text-decoration: none;
  color: cyan;
  transition: all 0.3s;
}

.btn:hover {
  background: cyan;
  color: #000;
}

iframe {
  width: 100%;
  height: calc(100vh - 80px); /* adjust based on navbar height */
  border: none;
}